node_modules/
.env
uploads/identity-documents/*
uploads/profile-images/*
uploads/unregistered/*
uploads/victim-evidence/*
!uploads/identity-documents/.gitkeep
!uploads/profile-images/.gitkeep
!uploads/unregistered/.gitkeep
!uploads/victim-evidence/.gitkeep
